@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

main{
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box-pass{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    background-color: #252525;
    width: 100%;
    height: 15%;
    font-size: 20px;
    border-radius: 0.2em;
    cursor: pointer;
    color: rgb(94, 94, 94);
}

.box-pass.hide{
    display: flex;
    display: none;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    background-color: #252525;
    width: 100%;
    height: 15%;
    font-size: 20px;
    border-radius: 0.2em;
    cursor: pointer;
    color: rgb(94, 94, 94);
}

.box-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 83%;
    background-color: #252525;
    border-radius: 0.2em;
    padding: 30px 40px;  
    gap: 10px
}

.sizepass{
    width: 100%;
    display: flex;
}

#length{
    color: #94C595;
}

.tampass{
    width: 100%;
    text-align: start;
    color: white;
}

.checkbox{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}

button{
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: none;
    background-color: #94C595;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: .5em;
}

button:hover{
    background-color: #5aa55c;
    gap: 20px;
    border-radius: .8em;
}

button img{
    height: 20px;
    
}

.box-pass img{
    height: 1em;
    fill: #94C595;
}

label{
    color: white;
}

#range{
    -webkit-appearance: none;
    background: #000000;
    outline: none;
    width: 100%;
    height: 5px;
    border-radius: 2px;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
}

.escolhas{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copiada.hide{
    display: none;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 30vw;
    height: 50px;
    background-color: #5aa55c;
    margin-bottom: 10px;
    border-radius: .5em;
}
.copiada{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 30vw;
    height: 50px;
    background-color: #5aa55c;
    margin-bottom: 10px;
    border-radius: .5em;
}

p{
    color: rgb(73, 73, 73);
    margin-bottom: 10px;
    font-size: 20px;  
}

input[type=checkbox]{
    all:unset;
    position:relative;
    display: inline-block;
    border: dashed 1px #CCC;
    border-radius: 5px;
    width:20px;
    height: 20px;
    background: none;
    cursor:pointer;
    transition: .2s ease-in-out;
}

input[type=checkbox]:checked{
    border: dashed 1px transparent;
    background: #2DE88F;
}

input[type=checkbox]:checked::after{
    content:"";
    position:absolute;
    width:12px;
    height:12px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    border-radius:50%;
    background: #187A4C;
  }

@media screen and (max-width: 1200px) {

    body{
        height: 100vh;
        width: 100%;
    }

    main{
        height: 70vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .box-pass{
        padding: 0 20px;
    }

    .box-body{
        padding: 30px 20px; 
    }

    .copiada.hide{
        display: none;
        justify-content: center;
        align-items: center;
        color: #000000;
        width: 90vw;
        height: 50px;
        background-color: #5aa55c;
        margin-bottom: 10px;
        border-radius: .5em;
    }
    
    .copiada{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        width: 90vw;
        height: 50px;
        background-color: #5aa55c;
        margin-bottom: 10px;
        border-radius: .5em;
    }
    
    button{
        color: black;
  }
    
}

